.conteiner{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top:150px;
}
form{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

form{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}