@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
.ikonica{
    /*background-color:  red;*/
    color: blue;
    font-size: 80px;
}
/*#icon{
    font-size: 45px;
}*/
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 500;
}
/* kartica za domaci 
kartica na sredni ekrana
gornje ivice kartice oble
donje kockaste
1/3 slika
nekretnine
adresa kuce
 grad i postanski broj 
 listu ikonica:
 broj spavacioh soba
 kupoatila
 bazena
 x ili netacno
 yadnja ikonica kvdratura*/

